
@{
	Layout = null;
	@model List<Property>;
}

@using Microsoft.AspNetCore.Identity
@using RealEstate.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Navinest</title>
	<!-- Bootstrap -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900%7COpen+Sans" rel="stylesheet" />
	<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="lib/animate.css" rel="stylesheet">
	<link href="lib/selectric/selectric.css" rel="stylesheet">
	<link href="lib/aos/aos.css" rel="stylesheet">
	<link href="lib/Magnific-Popup/magnific-popup.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="lib/jquery-3.2.1.min.js"></script>
	<script src="lib/popper.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/selectric/jquery.selectric.js"></script>
	<script src="lib/aos/aos.js"></script>
	<script src="lib/Magnific-Popup/jquery.magnific-popup.min.js"></script>
	<script src="lib/sticky-sidebar/ResizeSensor.min.js"></script>
	<script src="lib/sticky-sidebar/theia-sticky-sidebar.min.js"></script>
	<script src="lib/sidr/jquery.sidr.min.js"></script>
	<script src="lib/lib.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>
<body>

	<div id="main">
		<nav class="navbar navbar-expand-lg navbar-dark" id="menu">
			<div class="container">
				<a class="navbar-brand" asp-controller="Index" asp-action="Index"><img src="~/img/navinest logo.png" class="~/img-rounded" alt="Cinque Terre"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="menu-content">
					<ul class="navbar-nav mr-auto">						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" My_listing_add="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Listings
							</a>
							<div class="dropdown-menu">
								<a asp-controller="Property_listing" class="dropdown-item">List View</a>
								<a asp-controller="Property_grid" class="dropdown-item">Grid View</a>
								<a asp-controller="Property_listing_map" class="dropdown-item">Map View</a>
								<a asp-controller="Property_single" class="dropdown-item">Single View 1</a>
								<a asp-controller="Property_single2" class="dropdown-item">Single View 2</a>
								<a asp-controller="Property_single3" class="dropdown-item">Single View 3</a>
							</div>
						</li>

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Agents
							</a>
							<div class="dropdown-menu">
								<a asp-controller="Agent_list" class="dropdown-item">Agent List</a>
								<a asp-controller="Agent" class="dropdown-item">Agent Profile</a>
							</div>
						</li>

						<li class="nav-item dropdown megamenu">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Pages
							</a>
							<div class="dropdown-menu">
								<div class="container">
									<div class="row justify-content-md-center">
										<div class="col col-md-8">
											<div class="row">
												<div class="col-md-6 col-lg-3">
													<ul class="list-unstyled">
														<li><a asp-controller="Index">Homepage 1</a></li>
														<li><a asp-controller="Index2">Homepage 2</a></li>
														<li><a asp-controller="Index3">Homepage 3</a></li>
														<li><a asp-controller="Index4">Homepage 4</a></li>
														<li><a asp-controller="Index5">Homepage 5</a></li>
														<li><a asp-controller="Index6">Homepage 6</a></li>
														<li><a asp-controller="Index7">Homepage 7</a></li>
														<li class="title">Login Pages</li>
														<li><a asp-controller="Signin">Signin</a></li>
														<li><a asp-controller="Register">Register</a></li>
														<li><a asp-controller="Forgot_password">Forgot Password</a></li>
													</ul>
												</div>
												<div class="col-md-6 col-lg-3">
													<ul class="list-unstyled">
														<li class="title">Property Listing</li>
														<li><a asp-controller="Property_listing">List View</a></li>
														<li><a asp-controller="Property_grid">Grid View</a></li>
														<li><a asp-controller="Property_listing_map">Map View</a></li>
														<li class="title">Single Property</li>
														<li><a asp-controller="Property_single">Single View 1</a></li>
														<li><a asp-controller="Property_single2">Single View 2</a></li>
														<li><a asp-controller="Property_single3">Single View 3</a></li>
													</ul>
												</div>
												<div class="col-md-6 col-lg-3">
													<ul class="list-unstyled">
														<li class="title">Other Pages</li>
														<li><a asp-controller="Plans">Plans</a></li>
														<li><a asp-controller="Information_page">Information Page</a></li>
														<li><a asp-controller="Coming_soon">Coming Soon</a></li>
														<li><a asp-controller="Error_404">Error Page</a></li>
														<li><a asp-controller="Success">Success Page</a></li>
														<li><a asp-controller="Contact">Contact Page</a></li>
														<li><a asp-controller="Compare">Compare Properties</a></li>
														<li class="title">Agent Pages</li>
														<li><a asp-controller="Agent_list">Agent List</a></li>
														<li><a asp-controller="Agent">Agent Profile</a></li>
													</ul>
												</div>
												<div class="col-md-6 col-lg-3">
													<ul class="list-unstyled">
														<li class="title">Account Pages</li>
														<li><a asp-controller="My_listing_add">Add Listing</a></li>
														<li><a asp-controller="My_bookmarked_listings">Bookmarked Listing</a></li>
														<li><a asp-controller="My_listings">My Listings</a></li>
														<li><a asp-controller="My_profile">My Profile</a></li>
														<li><a asp-controller="My_password">Change Password</a></li>
														<li><a asp-controller="My_notifications">Notifications</a></li>
														<li><a asp-controller="My_membership">Membership</a></li>
														<li><a asp-controller="My_payments">Payments</a></li>
														<li><a asp-controller="My_account">Account</a></li>
														<li class="title">Blog Pages</li>
														<li><a asp-controller="Blog">Blog Archive</a></li>
														<li><a asp-controller="Blog_single">Blog Single</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>

					</ul>

					<ul class="navbar-nav ml-auto">

						@{ String username = SignInManager.IsSignedIn(User) ? @UserManager.GetUserName(User) : "Guest"; }
						<li class="nav-item dropdown user-account">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="user-image" style="background-image:url(' img/demo/profile3.jpg');"></span> Hi, @username !
							</a>
							
							<div class="dropdown-menu">
								<a asp-controller="My_profile" class="dropdown-item">My Profile</a>
								<a asp-controller="My_password" class="dropdown-item">Change Password</a>
								<a asp-controller="My_notifications" class="dropdown-item">Notifications</a>
								<a asp-controller="My_membership" class="dropdown-item">Membership</a>
								<a asp-controller="My_payments" class="dropdown-item">Payments</a>
								<a asp-controller="My_account" class="dropdown-item">Account</a>
							</div>
						</li>
						<li class="nav-item add-listing"><a class="nav-link" asp-controller="My_listing_add"><span><i class="fa fa-plus" aria-hidden="true"></i> Add listing</span></a></li>
					</ul>

				</div>
			</div>
		</nav>
		<div class="map-listing">
			<div class="row no-gutters has-map fixed">
				<div class="col-md-6 col-lg-5 col-xl-6">
					<div id="map-wrapper">
						<div class="map-panel">
							<div id="map_wrapper">
								<div id="map_canvas" class="mapping"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-lg-7 col-xl-6">
					<div class="search-results">
						<div class="search-form map-search-form ">
							<div class="card mb-0 mt-0">
								<div class="row">
									<div class="col-lg-6">
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Country, State, County, City, Zip, Title, Address, ID.">
										</div>
									</div>
									<div class="col-lg-6">
										<div class="row">
											<div class="col-md-7">
												<div class="form-group">
													<select class="form-control ui-select">
														<option value="">Property Type</option>
														<option value="house">House</option>
														<option value="flat">Flat</option>
														<option value="apartment">Apartment</option>
														<option value="land">Land</option>
														<option value="room">Room</option>
													</select>
												</div>
											</div>
											<div class="col-md-5">
												<div class="form-group">
													<button type="submit" class="btn btn-primary btn-block">Search</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="search-results-list">
							<div class="page-header">
								@if (Model.Count == 0)
								{
									<h1>No property found, try to change your search criteria</h1>
								}
								else
								{
									<h1>Property for sale near @Model.FirstOrDefault().Location</h1>
								}
							</div>
							<div class="sorting">
								<div class="row justify-content-between">
									<div class="col-sm-6 col-lg-4">
										<div class="form-group">
											<select class="form-control ui-select">
												<option selected="selected">Most recent</option>
												<option>Highest price</option>
												<option>Lowest price</option>
												<option>Most reduced</option>
												<option>Most popular</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6 col-lg-4">
										<div class="btn-group float-right" role="group"> <a asp-controller="Property_grid" class="btn btn-light"><i class="fa fa-th"></i></a> <a asp-controller="Property_listing" class="btn btn-light active"><i class="fa fa-bars"></i></a> </div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="item-listing list">
								@foreach (var property in Model)
								{
									<div class="item" data-aos="fade-up">
										<div class="row">
											<div class="col-lg-5">
												<div class="item-image">
													<a asp-controller="Property_single">
														<img src="~/img/demo/property/unit/@property.Image" class="img-fluid" alt="">
														<div class="item-badges">
															<div class="item-badge-left">Sponsored</div>
															<div class="item-badge-right">For Sale</div>
														</div>
														<div class="item-meta">
															<div class="item-price">
																@property.Price
																<small>@property.SquareFeet / sq m</small>
															</div>
														</div>
													</a>
													<a href="#" class="save-item"><i class="fa fa-star"></i></a>
												</div>
											</div>
											<div class="col-lg-7">
												<div class="item-info">
													<h3 class="item-title"><a asp-controller="Property_single">@property.Description</a></h3>
													<div class="item-location"><i class="fa fa-map-marker"></i> @property.Location</div>
													<div class="item-details-i"> <span class="bedrooms" data-toggle="tooltip" title="3 Bedrooms">3 <i class="fa fa-bed"></i></span> <span class="bathrooms" data-toggle="tooltip" title="2 Bathrooms">2 <i class="fa fa-bath"></i></span> </div>
													<div class="item-details">
														<ul>
															<li>Sq Ft <span>@property.SquareFeet</span></li>
															<li>Type <span>@property.Type</span></li>
														</ul>
													</div>
												</div>
												<div class="row">
													<div class="col-md-6">
														<div class="added-on">@property.ListedBy </div>
													</div>
													<div class="col-md-6">
														<a href="#" class="added-by">@property.ListedOn</a>
													</div>
												</div>
											</div>
										</div>
									</div>

								}
							</div>
							@if (Model.Count != 0)
							{

								<nav aria-label="Page navigation">
									<ul class="pagination">
										<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
										<li class="page-item active"><a class="page-link" href="#">1</a></li>
										<li class="page-item"><a class="page-link" href="#">2</a></li>
										<li class="page-item"><a class="page-link" href="#">3</a></li>
										<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
									</ul>
								</nav>
							}

						</div>
					</div>
				</div>
			</div>
			<button id="toggle-filters" class="btn btn-primary btn-circle mobile-filter"><i class="fa fa-filter"></i></button>
			<div id="sidebar" class="sidebar-left">
				<button class="close-panel btn btn-white"><i class="fa fa-long-arrow-left"></i></button>
				<div class="sidebar_inner">
					<div id="filters">
						<div class="card">
							<div class="card-header">
								<h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#p_budget" aria-expanded="true" aria-controls="p_type"> Budget <i class="fa fa-caret-down float-right"></i> </a> </h4>
							</div>
							<div id="p_budget" class="panel-collapse collapse" role="tabpanel">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" class="form-control input-sm" placeholder="Min">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<input type="text" class="form-control input-sm" placeholder="Max">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#p_type" aria-expanded="true" aria-controls="p_type"> Property Type <i class="fa fa-caret-down float-right"></i> </a> </h4>
							</div>
							<div id="p_type" class="panel-collapse collapse show" role="tabpanel">
								<div class="card-body">
									<div class="checkbox ">
										<input type="checkbox" value="1" id="house">
										<label for="house">House</label>
									</div>
									<div class="checkbox ">
										<input type="checkbox" value="1" id="flat">
										<label for="flat">Flat</label>
									</div>
									<div class="checkbox ">
										<input type="checkbox" value="1" id="appartment">
										<label for="appartment">Appartment</label>
									</div>
									<div class="checkbox ">
										<input type="checkbox" value="1" id="farms">
										<label for="farms">Farms/Lands</label>
									</div>
									<div class="checkbox ">
										<input type="checkbox" value="1" id="room">
										<label for="room">Room</label>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header">
								<h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#p_features" aria-expanded="true" aria-controls="p_features"> Features <i class="fa fa-caret-down float-right"></i> </a> </h4>
							</div>
							<div id="p_features" class="panel-collapse collapse show" role="tabpanel">
								<div class="card-body">
									<div class="checkbox">
										<input type="checkbox" value="" id="garden">
										<label for="garden"> Garden</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="" id="parking">
										<label for="parking"> Parking</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="" id="fireplace">
										<label for="fireplace"> Fireplace</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="" id="restaurant">
										<label for="restaurant"> Restaurant</label>
									</div>
									<div class="checkbox">
										<input type="checkbox" value="" id="school">
										<label for="school"> School</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<!-- Contact Agent Modal -->
		<div class="modal fade  item-badge-rightm" id="leadform" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<div class="media">
							<div class="media-left"><a asp-controller="Property_single"><img src="img/demo/property/1.jpg" class="img-rounded" width="64" alt=""></a></div>
							<div class="media-body">
								<h4 class="media-heading">
									Send Message for<br>
									<small><a asp-controller="Property_single">3 bed semi-detached house for sale</a></small>
								</h4>
								<ul class="list-unstyled">
									<li><i class="fa fa-map-marker"></i> Kirkstone Road, Middlesbrough TS3</li>
									<li><a href="tel:01502392905"><i class="fa fa-phone fa-fw" aria-hidden="true"></i> Call: 01502 392905</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="lead_name">Your Name</label>
								<input type="text" class="form-control" id="lead_name" placeholder="Your Name">
							</div>
							<div class="form-group">
								<label for="lead_email">Your Email</label>
								<input type="email" class="form-control" id="lead_email" placeholder="Your Email">
							</div>
							<div class="form-group">
								<label for="lead_phone">Your Telephone</label>
								<input type="tel" class="form-control" id="lead_phone" placeholder="Your Telephone">
							</div>
							<div class="form-group">
								<label for="lead_message">Message</label>
								<textarea rows="4" class="form-control" id="lead_message" placeholder="Please include any useful details, i.e. current status, availability for viewings, etc."></textarea>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary">Send Message</button>
					</div>
				</div>
			</div>
		</div>
		<button class="btn btn-primary btn-circle" id="to-top"><i class="fa fa-angle-up"></i></button>
		<footer id="footer">
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col col-md-10">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<p><span class="icon-uilove-realestate"></span></p>
								<address>
									<strong>Twitter, Inc.</strong><br>
									1355 Market Street, Suite 900<br>
									San Francisco, CA 94103<br>
									<abbr title="Phone">P:</abbr> (123) 456-7890
								</address>
								<p class="text-muted">
									Copyright &copy; 2016<br />
									All rights reserved
								</p>
							</div>
							<div class="col-md-2  col-sm-4">
								<ul class="list-unstyled">
									<li><a href="#">About</a></li>
									<li><a href="#">Team</a></li>
									<li><a href="#">Security</a></li>
									<li><a href="#">Plans</a></li>
								</ul>
							</div>
							<div class="col-md-2 col-sm-4">
								<ul class="list-unstyled">
									<li><a href="#">For Rent</a></li>
									<li><a href="#">For Sale</a></li>
									<li><a href="#">Commercial</a></li>
									<li><a href="#">Agents</a></li>
									<li><a href="#">Property Guides</a></li>
									<li><a href="#">Jobs</a></li>
								</ul>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="social-sharebox"> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-youtube-play"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a> </div>
								<form>
									<h4>Subscribe Newsletter</h4>
									<div class="input-group input-group-lg">
										<input type="email" class="form-control" placeholder="Email Address">
										<span class="input-group-btn">
											<button class="btn btn-primary" type="button">Go!</button>
										</span>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="lib/map/markerclusterer.js"></script>
	<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvuspZieDAMlpAVAe2qwlvkk8oQU34dtg&callback=initMap"></script>
	<script>
		function initMap() {
			var bounds = new google.maps.LatLngBounds();
			var map;
			map = new google.maps.Map(document.getElementById("map_canvas"));
			map.setTilt(45);
			var arrow_icon = {
				path: 'M50,0C31.294,0,16.129,15.165,16.129,33.87c0,0.401,0.012,0.809,0.03,1.221c0.127,3.558,0.798,6.975,1.939,10.172  C25.324,69.015,50,100,50,100s24.673-30.982,31.9-54.734c1.143-3.197,1.813-6.617,1.939-10.175c0.02-0.412,0.031-0.819,0.031-1.221  C83.871,15.165,68.706,0,50,0z M50,50.459c-9.161,0-16.589-7.428-16.589-16.589c0-9.16,7.428-16.588,16.589-16.588  c9.162,0,16.589,7.428,16.589,16.588C66.589,43.031,59.162,50.459,50,50.459z',
				strokeOpacity: 1,
				strokeWeight: 1,
				fillColor: '#563d7c',
				fillOpacity: 1,
				rotation: 0,
				scale: 0.4
			};
			var infoWin = new google.maps.InfoWindow();
			var markers = locations.map(function (location, i) {
				var position = new google.maps.LatLng(location.lat, location.lng);
				bounds.extend(position);
				var marker = new google.maps.Marker({
					position: position,
					map: map,
					//icon: arrow_icon,
					icon: '~/img/demo/uni_logo.jpg',
				});

				if (location.uni) {
					marker.icon = 'img/demo/uni_logo.jpg';
				} else {
					marker.icon = arrow_icon;
				}


				google.maps.event.addListener(marker, 'click', function (evt) {
					infoWin.setContent(location.info);
					infoWin.open(map, marker);
				})
				map.fitBounds(bounds);
				return marker;
			});
			var mcOptions = {
				styles: [{
					url: 'img/cluster/m1.png',
					width: 53,
					height: 53,
					textSize: 14,
					textColor: "#fff",
				}]
			};
			var markerCluster = new MarkerClusterer(map, markers, mcOptions);

		}

		var locations = [{
			lat: 3.064609,
			lng: 101.6163656,
			uni: false,
			info: "3 bed semi-detached house for rent near Taylor's Lakeside"
		}, {
			lat: 3.0671563,
			lng: 101.60389020000002,
			uni: false,
			info: "2 bed room house for rent near Sunway University"
		}, {
			lat: 3.0648608,
			lng: 101.60098249999999,
			uni: true,
			info: "Monash University"
		}, {
			lat: 3.073355,
			lng: 101.61005799999998,
			uni: false,
			info: "The One Academy"
		}, {
			lat: 2.8139714,
			lng: 101.75824110000008,
			uni: true,
			info: "Inti International University & College Malaysia"
		}, {
			lat: 3.0778207,
			lng: 101.58659579999994,
			uni: false,
			info: "Westminster International College"
		}, {
			lat: 3.0616153,
			lng: 101.59360979999997,
			uni: true,
			info: "Segi College Subang Jaya"
		},];		

		$(window).resize(function () {
			initMap();
		});
	</script>
	<script>
		$(document).ready(function () {
			function mapWindow() {
				var windowHeight = $(window).height();
				var windowWidth = $(window).width();
				var menuHeight = $('#menu').height();
				var heightD = windowHeight;
				if (windowWidth > 767) {
					$('#map_wrapper').height(heightD);
				} else {
					$('#map_wrapper').height('auto');
				}
			}
			mapWindow();
			$(window).resize(function () {
				mapWindow();
			});
		});
		$('.has-map.fixed>*').theiaStickySidebar({
			additionalMarginTop: 0,
			additionalMarginBottom: 0,
			minWidth: 767,
		});
	</script>
	<script>
		$(document).ready(function () {
			$('#toggle-filters').sidr({
				side: 'left',
				displace: false,
				renaming: false,
				name: 'sidebar',
				source: function () {
					AOS.refresh();
				},

			});
		});

	</script>
</body>
</html>
